{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container m-4">
    <div class="row bag-header">
        <div class="col-8 offset-2">
            <h2 class="logo-font text-darker mb-4">Shopping Bag</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    {{ bag_items }}
                </div>
            {% else %}
                <p class="lead mb-5 text-darker">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase text-darker">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}