html {
    height: 100%;
}

body {
    background: url('/media/gradientbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Gorditas', cursive;
}

a:hover{
    text-decoration: none;
}

.logo {
    color:black;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

/* ensures the increment/decrement arrows always display */
input{
    opacity: 1;
  }


.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.dropdown-toggle::after {
    content: none;
}

.search-box{
    background-color:rgba(0,0,0,0) !important;
    border-top:none !important;
    border-right:none !important;
    border-left:none !important;
}

.search-input{
    color: black !important;
    border-color: black !important;
}


.search-input::-webkit-input-placeholder {
    color: black !important;
  }

.search-btn{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}

.btn-circle {
    width: 75px;
    height: 75px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    background-color:rgba(92, 90, 90, 0.61);
}

.btn-circle:hover{
    background-color:rgba(49, 48, 48, 0.61);
}

.text-black{
    color:black !important;
}

.text-darker{
    color: rgb(36, 36, 36) !important;
}

.bg-grey{
    background-color:rgba(49, 48, 48, 0.61);
}

.darkheather{
    background-color: #635271;
}

.heather{
    background-color: #a693b5;
}

.sunset{
    background-color:#da7c46cc;
}

#message-banner{
    background-color: black;
}

.hero-image {
    background: url(/media/daisies.jpg);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}
